body {
    background: rgba(239,242,245,1);
}

.hide{
    display: none;
}

/*#region Settings area*/
.settings{
    position: absolute;
    margin: auto;
    color: black;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    width:600px;
    text-align: center;
}
.settings h4{
    color: black;
    text-align: left;
    font-weight: bold;
}
.settings input{
    width:100%;
}
.settings .update{
    padding-top: 24px;
}
.settings .warning{
    color: white;
    font-size: 21px;    
}
.settings .line{
    color: rgba(0,187,0,1);
    font-weight: bolder;
}
.settings input{
    background:  rgba(239,242,245,1);
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 2px;
    border-color:lightgray;
}
.settings input[type="checkbox"]{
    margin: 5px 10px 5px 5px;
    width: auto;
}

.settings input[type="text"]:focus {
    outline: 0;
}
.settings label{
    float: left;
}

.indicator {
    background: rgba(50,50,50,0.8);
    height: 100%;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 10;
}

#message {
    line-height: 400px;
    color: white;
}
/*#endregion Settings area*/